
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>

<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>
<style type="text/css">
form {
	max-width: 665px;
	margin: 20px auto;
	padding: 20px 20px;
	background: #fff;
	border-radius: 8px;
}

.centered {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.text-block {
	position: absolute;
	bottom: 20px;
	right: 20px;
	background-color: black;
	color: white;
	padding-left: 50px;
	padding-right: 50px;
}
</style>
</head>

<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="navbar-brand" href="/"> <img src="/Images/airplane.svg"
			width="30" height="30" class="d-inline-block align-top" alt="">
			FlightAware
		</a>

		<li class="nav-item">
		<a class="btn btn-success " href="/flights" role="button">Flights</a> 
		<a class=" btn btn-success " href="/routes" role="button">Airports</a>
		<a class=" btn btn-success " href="/uguides" role="button">Account</a>
		</li>

	</nav>
	<div class="container">
		<form class="form-horizontal" action="#" th:action="@{/flights}"
			th:object="${userip}" method="post" style="border: solid 1px">
			<!-- <div class="form-group">
				<div class="col-xs-8">
					<input class="form-control" th:field="*{Locale}" type="text"
						name="ques" placeholder="Enter Locale "></input>
				</div>
			</div>-->
			<div class="form-group">
				<div class="col-xs-8">
					<input class="form-control" th:field="*{Origin}" type="text"
						name="ques" placeholder="Enter Source place"></input>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-8">
					<input class="form-control" th:field="*{Dest}" type="text"
						name="dest" placeholder="Enter place to visit"></input>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-8">
					<input class="form-control" th:field="*{outDate}" type="date"
						name="outDate" placeholder="Enter date in yyyy-mm-dd format"></input>
				</div>
			</div>
			<div class="row">
				<center>
					<input class="btn btn-primary" type="submit" value="Get Result"></input>
			</div>
		</form>
		</form>
	</div>
	<center>
		<div th:if="${not #lists.isEmpty(flights)}">
			<div style="padding: 100px;padding-top: 20px">
				<div class="row">
					<div class="card text-white bg-secondary mb-3" style="width: 100%;">
						<div class="card-header"><span th:text="@{${msg}}"></span></div>
						<table class="table">
							<thead class="thead-light">
								<tr>
									<th>Airline</th>
									<th>Flight Number</th>
									<th>Departure Airport</th>
									<th>Departure Terminal</th>
									<th>Departure Time</th>
									<th>Arrival Airport</th>
									<th>Arrival Terminal</th>
									<th>Arrival Time</th>
									<th>Flight Duration</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="flight: ${flights}">
									<td th:text="${flight.flightLegDetails.marketingAirline.companyShortName}"></td>
									<td align="center" th:text="${flight.flightLegDetails.flightNumber}"></td>
									<td th:text="${flight.flightLegDetails.departureAirport.fLSLocationName}"></td>
									<td align="center" th:text="${flight.flightLegDetails.departureAirport.terminal}"></td>
									<td th:text="${flight.flightLegDetails.departureDateTime}"></td>
									<td th:text="${flight.flightLegDetails.arrivalAirport.fLSLocationName}"></td>
									<td align="center" th:text="${flight.flightLegDetails.arrivalAirport.terminal}"></td>
									<td th:text="${flight.flightLegDetails.arrivalDateTime}"></td>
									<td th:text="${flight.flightLegDetails.journeyDuration}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-8" th:if="${not #strings.isEmpty(noFlight)}">
			<span th:text="@{${noFlight}}"></span>
		</div>
	</center>

</body>
</html>
